$base-color: #f0f0f0;
$highlight-color: #fafafa;
$notification-color: #FEBA0B;
$action-color: #FEBA0B;
$adminbar-base-color: #FEBA0B;

@import "admin";

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
    text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.3 );
}
